---
import { features, phoneLinks } from "@utils"

---

<section class="bg-primary text-white py-8">
  <div class="custom-container">
    <div class="mx-8 sm:w-1/2">
      <h1>Verdadero Dinero Digital</h1>
      <p>Somos tu mejor opción para compras en automercados, tiendas, restaurantes, y la adquisición de bienes y/o servicios a nivel mundial. Con características únicas y disponible en las mejores billeteras y exchanges del mercado</p>
      {
        features.map(feature => (
          <div class="flex justify-start place-items-center my-4">
            <img src={feature.image} />
            <Fragment set:html={feature.text} />
          </div>
        ))
      }
    </div>
    <div class="mx-8 mt-8 sm:w-1/2">
      <div class="custom-grid grid-cols-3">
        {
          phoneLinks.map(phonelink => (
            <div class={phonelink.class}>
              <a 
                href={phonelink.link} 
                rel="noopener noreferrer" 
                target="_blank">
                <img src={phonelink.image} />
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>